section.hero{
  font-family:$font-titels;
  background-color: $introbg;
  padding: 60px;
  text-align: center;
  position: relative;
  z-index: 1;
  img.img-1{
    width: 100%;
    max-width: 716px;
    margin: 0 auto;
  }
  h1{
    max-width: 600px;
    color:#f8eded;
    margin: 40px auto;
    line-height: 40px;
    letter-spacing: 3px;
  }
  p{
    max-width: 450px;
    color: #f8eded;
    margin: auto;
    line-height: 30px;
  }
  button{
    width: 190px;
    height: 40px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    background:linear-gradient(to right, $btn-tg, $btn-bg);
    // color: #ffffff;
    cursor: pointer;
    transition: all .7s ease-in-out;
    font-size: 16px;
    font-weight: bold;
    color:$mainbg;
    &:hover{
      background:linear-gradient(to right, $btn-bg, $btn-tg);
  
    } 
  }
  img.img-2{
    position: absolute;
    margin: 0 auto;
    bottom: -1px;
    text-align: center;
    height: 261px;
    width: 100%;
    left: 0;
    z-index: -1;
  }
}