@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto:wght@300;400;700&family=Rubik:ital,wght@0,300;1,300;1,400&display=swap");
html {
  font-size: 100%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: calc(16px + .3vm);
  line-height: 1.3rem;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*----responsive------*/
header {
  background-color: #1b2330;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Roboto", sans-serif;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  padding: 0 10px;
}

header ul li a {
  display: inline-block;
}

header ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 5px;
  background: #f37373;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

header ul li a:hover {
  color: #8de7eb;
}

header ul li a:hover::after {
  width: 100%;
}

header a {
  color: #fff;
  font-size: 1.1rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

header img {
  width: 80px;
  height: 60px;
}

@media screen and (min-width: 899px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 40px;
  }
  header ul {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header img {
    width: 150px;
  }
}

section.hero {
  font-family: "Roboto", sans-serif;
  background-color: #1b2330;
  padding: 60px;
  text-align: center;
  position: relative;
  z-index: 1;
}

section.hero img.img-1 {
  width: 100%;
  max-width: 716px;
  margin: 0 auto;
}

section.hero h1 {
  max-width: 600px;
  color: #f8eded;
  margin: 40px auto;
  line-height: 40px;
  letter-spacing: 3px;
}

section.hero p {
  max-width: 450px;
  color: #f8eded;
  margin: auto;
  line-height: 30px;
}

section.hero button {
  width: 190px;
  height: 40px;
  margin-top: 30px;
  border: none;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#64e1d9), to(#329ecc));
  background: linear-gradient(to right, #64e1d9, #329ecc);
  cursor: pointer;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  color: #171e2a;
}

section.hero button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#329ecc), to(#64e1d9));
  background: linear-gradient(to right, #329ecc, #64e1d9);
}

section.hero img.img-2 {
  position: absolute;
  margin: 0 auto;
  bottom: -1px;
  text-align: center;
  height: 261px;
  width: 100%;
  left: 0;
  z-index: -1;
}

.feature-base {
  background-color: #171e2a;
  padding: 50px 0px 100px 0;
  font-family: "Roboto", sans-serif;
}

.feature-base .feature-grid {
  max-width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 999px) {
  .feature-base .feature-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    margin: 0px auto;
    gap: 90px 120px;
  }
}

.feature-base .feature-grid .feature {
  height: 250px;
  text-align: center;
  margin: 15px;
}

.feature-base .feature-grid .feature img {
  width: 100%;
  max-width: 80px;
  height: 80px;
}

.feature-base .feature-grid .feature-title {
  font-size: 1.5rem;
  padding: 15px 0;
  color: #feffef;
  letter-spacing: 2px;
}

.feature-base .feature-grid .feature-p {
  font-size: 1rem;
  color: #feffef;
  padding: 10px 0;
  max-width: 300px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.product {
  background-color: #171e2a;
  padding-bottom: 150px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 999px) {
  .product-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product-imag {
  margin: 0 auto;
}

.product-imag img {
  width: 100%;
  max-width: 550px;
}

.product-title {
  margin: 0 auto;
  max-width: 500px;
  padding: 10px 30px;
  letter-spacing: 1px;
}

.product-title p {
  max-width: 400px;
}

.product-title h2 {
  font-size: 1.5rem;
  max-width: 260px;
  line-height: 35px;
  letter-spacing: 2px;
  margin: 20px 40px;
}

@media screen and (min-width: 999px) {
  .product-title h2 {
    margin: 0;
  }
}

.product-title a {
  display: inline-block;
  margin: 10px 60px;
  color: #64e1d9;
  background-image: url("/images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
  border-bottom: 1px solid #64e1d9;
  padding-bottom: 6px;
  -webkit-transition: all .7s;
  transition: all .7s;
}

@media screen and (min-width: 999px) {
  .product-title a {
    margin: 0;
    display: inline;
  }
}

.product-title a:hover {
  color: #ffffff;
  padding-right: 30px;
  border-bottom: 1px solid #fff;
}

.quates {
  padding: 20px 40px 240px;
  background-color: #171e2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
}

.quates_grid {
  display: -ms-grid;
  display: grid;
  row-gap: 40px;
  z-index: 1;
}

@media screen and (min-width: 999px) {
  .quates_grid {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    gap: 40px;
    padding: 20px 80px;
  }
}

.quate {
  position: relative;
  background-color: #20293b;
  color: #ffffff;
  padding: 30px 24px 24px 24px;
  max-width: 600px;
}

.quate:first-child::before {
  content: "";
  background-image: url(/images/bg-quotes.png);
  position: absolute;
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
  top: -30px;
  left: -12px;
  z-index: -1;
}

.quate_text {
  font-size: 0.9em;
  text-align: justify;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.quate_auter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quate_auter_image img {
  border-radius: 50%;
  width: 40px;
  height: auto;
}

.quate_auter_row {
  padding-left: 15px;
}

.quate_auter_row_name {
  font-size: 1em;
  font-weight: 700;
}

.quate_auter_row_title {
  font-size: 0.8em;
}

.signes-me {
  padding: 100px 20px;
  width: 100%;
  background-color: #171e2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  -webkit-transform: translateY(-285px);
          transform: translateY(-285px);
}

@media screen and (min-width: 899px) {
  .signes-me {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
}

.sign-up {
  max-width: 700px;
  background-color: #1b2330;
  background-color: #20293b;
  color: #ffffff;
  padding: 30px 24px 24px 24px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.sign-up--header {
  text-align: center;
  line-height: 30px;
}

.sign-up--header p {
  max-width: 500px;
  margin: 20px auto;
  line-height: 25px;
}

.sign-up .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.sign-up .form #email {
  padding: 15px 20px;
  border-radius: 30px;
  outline: none;
  border: none;
}

.sign-up .form button {
  height: 45px;
  margin-top: 30px;
  border: none;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#64e1d9), to(#329ecc));
  background: linear-gradient(to right, #64e1d9, #329ecc);
  color: #ffffff;
  font-weight: 700px;
  cursor: pointer;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.sign-up .form button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#329ecc), to(#64e1d9));
  background: linear-gradient(to right, #329ecc, #64e1d9);
}

@media screen and (min-width: 899px) {
  .sign-up .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .sign-up .form #email {
    width: 400px;
    padding: 0px 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    height: 50px;
    margin-right: 25px;
  }
  .sign-up .form button {
    margin-top: 0px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
  }
}

.footer {
  background-color: #0a1423;
  color: #fff;
  padding-top: 210px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

@media screen and (min-width: 899px) {
  .footer {
    padding-top: 100px;
  }
}

.footer .container {
  padding: 45px 45px;
}

@media screen and (min-width: 899px) {
  .footer__lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
}

.footer__logo img {
  padding-left: 15px;
}

.footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
}

.footer__location img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.footer__phone {
  margin-top: 30px;
}

.footer__phone div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  color: #fff;
  margin-bottom: 10px;
}

.footer__phone div a:hover {
  color: aqua;
  text-decoration: underline;
}

.footer__phone div a img {
  margin-right: 10px;
}

.footer__phone img {
  width: 30px;
}

.footer__phone img.mail {
  width: 25px;
}

.footer__information__links1, .footer__information__links2 {
  margin-top: 30px;
}

.footer__information__links1 a, .footer__information__links2 a {
  display: block;
  color: #fff;
  padding-top: 10px;
  font-size: 1.1rem;
}

.footer__information__links1 a:hover, .footer__information__links2 a:hover {
  text-decoration: underline;
}

.footer__social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social img {
  width: 30px;
  background-color: aqua;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 2px;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__social img:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
/*# sourceMappingURL=style.css.map */